@import url("https://fonts.googleapis.com/css?family=Roboto:100,400");
body {
  margin: 0 auto;
  background-color: white;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

#top-section {
  background: url(../img/computer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100vh; }

.text-logo {
  position: absolute;
  right: 0;
  bottom: 300px;
  background-color: #343a40;
  color: #eeeeee;
  width: 400px;
  font-weight: 100; }
  .text-logo .wd {
    display: block;
    padding-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
    display: block; }
  .text-logo .cp {
    display: block;
    padding-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 10px; }

.my-buttons {
  width: 400px;
  position: absolute;
  bottom: 250px;
  right: 1rem;
  text-align: center; }

#contactme {
  color: black;
  position: fixed;
  bottom: 10px;
  right: 30px;
  width: 40px; }

.down-arrow {
  bottom: 5px;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 100px;
  opacity: .7; }
  .down-arrow:hover {
    opacity: 1; }

.top-name {
  background-color: black;
  width: 300px;
  position: absolute;
  top: 5%;
  left: 5%;
  opacity: .7; }
  .top-name .name {
    color: white;
    display: block;
    text-align: center;
    font-weight: 100;
    font-size: 2.5rem; }
  .top-name .cv {
    color: #F5D933;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 100; }
