@import 'variables';
@import 'reset';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

//Main Sections
#top-section {
  background: url(../img/computer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100vh;
}

#skills-section {
  background-color: $gold;
  width: auto;
  height: auto;
  color: black;
  padding-bottom: 5%;;
  h1 {
    padding: 5% 0 3% 5%;
  }
  .row {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    span {
      font-size: 1.5rem;
    }
  }
  .col {
    padding: 1rem;
  }
}

#section-contact {
  h1 {
    padding: 5%;
    span {
      color: $gold;
    }
  }
}

//IDs
#contactme {
  color: black;
  position: fixed;
  bottom: 10px;
  right: 30px;
  width: 40px;
}


//Classes
.text-logo {
  position: absolute;
  right: 0;
  bottom: 300px;
  background-color: $bg-dark;
  color: $light;
  width: 400px;
  font-weight: 100;
  .wd {
    @include logo(1rem, 1.5rem, center);
    display: block;
  }
  .cp {
    @include logo(1rem, 1.5rem, center);
    padding-bottom: 10px;
  }
}

.my-buttons {
  width: 400px;
  position: absolute;
  bottom: 250px;
  right: 1rem;
  text-align: center;
}


.down-arrow {
  bottom: 5px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 100px;
  opacity: .7;
  &:hover {
    opacity: 1;
  }
}

.top-name {
  background-color: black;
  width: 300px;
  position: absolute;
  top: 5%;
  left: 5%;
  opacity: .7;
  .name {
    color: white;
    display: block;
    text-align: center;
    font-weight: 100;
    font-size: 2.5rem;
  }
  .cv {
    color: $gold;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 100;
  }

}

.my-col {
  padding-top: 1rem;
}

.contactme {
  margin-bottom: 5%;
}
